/* Shared across all pages */

.img {
  max-width:100%;
  height: auto;
}

/* Index page */

.video-container {
    overflow: hidden;
    position: relative;
    width:100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.video-container::after {
    padding-top: 56.25%;
    display: block;
    content: '';
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* centers the map*/
.html-widget {
    margin: auto;
}

/* About page */

.map-container {
   margin: auto;
   padding-top: 4rem;
}

/* Publications page */
.publications-container {
  padding: 0 0 10px 0;
}
.publication-card {
  padding: 5px;
  margin: 0 10px
}
.publication-heading {
  margin: 5px 15px 2px 10px;
}
.publication-para {
  margin: 1px 15px 1px 10px;
  margin: 5px;
}



/* Cards for each team member, using these styles */


.team-card {
  padding-top: 1rem;
  border-width: 0;
  border-radius: .6rem .6rem .6rem .6rem;
}
.team-card-col {
  visibility: visible;
  background-color: inherits;
  border-radius: .6rem .6rem .6rem .6rem;
  margin: 1rem;
}
.team-card-row {
  display: flex;
  flex-basis: auto;
  flex-direction:row;
  border-radius: .6rem .6rem .6rem .6rem;
}
.team-pic {
  border-radius: 50%;
  height: 130px;
  width: 130px;
  margin: auto;
  display: block;
  border-style:solid;
  border-width:1px;
  margin-left: -1px;
  margin-right: -1px;
  margin-top: -1px;
  margin-bottom: -1px;
  border-radius: 50%;
  border: none;
  object-fit: cover;
}
.team-pic-container {
  min-width: 130px;
  border-radius: 50% 50%;
  margin:auto;
  justify-items: right;
  align-items: center;
  text-align: right
}