/*
CSS for CUBE website

white: #fffff
'transparent' works in most cases if wanted

Custom colours:
light blue links = #2469e0
dark blue side and nav bar = #363966

greens -
#138D75

title :   #363966;
Header 1  #138D75;
Header 2  #117A65;
Header 3  #0E6655;
Header 4  #0E6655;
Code block  #2469e0; (hyperlinks)
*/

/* colour of the home icon*/
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
    color: #363966;
    background-color: transparent;
}
/* Controls header navbar?? */
.navbar-inverse {
    background-color: #00000;
    border-color: #e6e6e6;
    /*color: red; #should be able to adjust header text color*/
}
/* Styles for toc on left */
.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    z-index: 2;
    color: #fffff;  /* toc  highlighted text */
    background-color: #363966;  /* toc highlight background dark blue purple */
    border-color: #363966; /* toc border */
}

/* Text styles*/
td {  /* Table  */
  font-size: 12px;
}
h1 { /* Header 1 */
  font-size: 36px;
  color: MidnightBlue;
}
h2 { /* Header 2 */
    font-size: 28px;
  color: #117A65;
}
h3 { /* Header 3 */
  font-size: 22px;
  color: #0E6655;
}
h4 { /* Header 4 */
  font-size: 16px;
  font-weight: bold;
  color: #0E6655; /**/
}

code{ /* Code block */
    font-size: 12px;
    color: #2469e0;
}
/*  hyperlinks colours; what else? */
a, a > code {
    color: #2469e0;
    text-decoration: none;
}
pre { /* Code block - determines code spacing between lines */
    font-size: 14px;
}
body{ /* Normal  */
      font-size: 16px;
  }

/* image format for the infographic panel OLD */
/*
img.info {
  height: 46%;
  width: 46%;
  float:right;
  padding: 1px;
  margin-top: 5px;
  margin-bottom: 2px;
  margin-left: 10px;
  margin-right: 1px;
}
*/
/* image format for the infographic panel */
img.info {
  height: 100%;
  width: 100%;
  float: center;
  padding: 0px;
  margin-top: 2px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

/*biography section for each member of the project staff*/
div.bios {
  border: 5px outset white;
  background-color: lightgrey;
  text-align: left;
  top: 0px;
  margin: 5px 0;
}

/* profile picture round thumbnail image style */
img.profilepic {
  height: 130px;
  width: 130px;
  float: left;
  border-radius: 50%;
  margin-right: 3%;
  margin-top: 1.66%;
  margin-bottom: 2%;
  object-fit: cover;
}


/* FAQs accordion section header*/
h4.faq {
  font-size: 17px;
  font-weight: bold;
  color: #35516e;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  width: 100%;
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 5px 10px 5px 10px;
  margin-top: 1px;
  margin-bottom: 1px;
  text-align: left;
  border-style: solid;
  border-width: 1px;
  border-color: #e1e1e1;
  border-radius: 5px;
  border-radius: 5px;
  outline: none;
  transition: 0.75s; /* controls the div background color transition */
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active {
  background-color: #e5e5e5;
  border-style: solid;
  border-width: 1px;
  border-color: #e5e5e5;
  border-radius: 5px;
}
.accordion:hover {
  background-color: #b8b8b8;
  border-style: solid;
  border-width: 1px;
  border-color: #383838;
  border-radius: 5px;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 5px 5px 5px 5px;
  background-color: white;
  border-style: solid; /*trying to add border on answer boxes*/
  border-width: 1px;
  border-color: #e5e5e5;
  border-radius: 5px;
  display: block;
  /* 'none' makes the answer box closed by default */
  /* 'block' makes answer box open by default */
  overflow: hidden;
}

p.faqans {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 1.42857143;
    color: #2c3e50;
    font-size: 16px;
    box-sizing: border-box;
    padding: 1px 8px 1px 8px;
    margin: 1px 1px 1px 1px;
}




/* NO TOC on mobile */
@media screen and (max-width: 767px){

  .col-xs-12.col-sm-4.col-md-3 {
    display: none;
  }

  .top-text {
    font-size: 25px;
  }

  .bottom-text {
    font-size: 40px;
  }


}